<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QuanLyHocVienTrungTamAnhNguConnectionString"
            connectionString="Data Source=CUONGNSM;Initial Catalog=QLHV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="QuanLyHocVienTaiTrungTamAnhNguConnectionString" connectionString="Data Source=CUONGNSM;Initial Catalog=QLHV;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


</configuration>